.formulario{
    text-align: left;
}
.username{
    color:black;
    padding: 10px;
    border: none;
    border-radius: 30px;
}
.name{
    color:black;
    padding: 10px;
    border: none;
    border-radius: 30px;
}
.age{
    color:black;
    padding: 10px;
    border: none;
    border-radius: 30px;
}
.password{
    color:black;
    padding: 10px;
    border: none;
    border-radius: 30px;
}
.btn{
    color: white;
    font-size: 20px;
	text-decoration: none;
	padding: 20px;
	border-radius: 40px;
	background-color:black;
    cursor: pointer;
    border:none;
}

.btn:hover{
    background-color:grey;
}
.box{
    width:30%;
    padding:2%;
    background: lightcoral;
    border-radius: 50px;
    border-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    text-align:center;
}
